<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>SKU</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

    <body ng-controller="mainCtrl" style="width:100%; height:100vh; background-color:#ECF0F1; display:flex; vertical-align:center; justify-content:center; align-items:center; flex-direction: column; no-repeat; background-size:cover; font-family:Helvetica, Arial, Verdana, Trebuchet MS;">

      <div class="alert alert-success" id="success-alert">
      <strong>Success! </strong>
      SKU was copied.
  </div>

    <!-- table for welcome message, username/password, and login buttons -->
    <table style="border-spacing: 0; width:600px; height:669px; border-radius:5px; box-shadow:0 20px 40px rgba(0,0,0,0.20);">
        <!-- table row for the welcome message and pic -->
        <tr style="width:100%; height:325px; background:#F5F5F5;">
            <td style="text-align:center; border-radius:5px 5px 0 0;">
                <img style="border-radius:50%; margin-top: 40px;" src="pic/avatar.png" alt="avatar" width="115" height="115" />
                <p style="color:#556A6F; font-size:24px; font-weight: 600;">Sean, Welcome to SKU!</p>

            </td>
            <!-- table row for the username and password container -->
        </tr>
        <tr style="width:100%; height: 120px; padding:40px 0; margin:0; background-color: white;">
            <td style="text-align:left; padding-left:157px">

              <br>
              <br>
                <span style=" color:#979CAD; display: block; font-size:18px; font-weight: 100; margin-top: 20px;">SKU # <span id="p1" style="color:#246D7F; font-size:16px; margin-left:10px;">{{message}}</span> </span>

                <br>

                <p>
                  test copy here
                </p><input />



                </th>
        </tr>
        <!-- table row for the contact support and login buttons -->
        <tr style="height:145px;">
            <td style="text-align:center; background-color: white;">

                <span id="myWish" href="javascript:;"  class="btn btn-mini" ng-click="copy('#p1')" style="margin-right:16px; cursor: pointer;"><a href="#" style="text-decoration:none; padding:16px 22px 16px 22px; width:180px;color:#44D0F4; border: #44D0F4 solid 1px; border-radius:5px;  font-weight: 200; font-size: 17px;">Copy sku #</a></span>

                <span ng-click="newSku()"><a href="#" style=" text-decoration:none; cursor: pointer; padding: 17px 30px 17px 30px;  color:white; border-radius:5px; background:#44D0F4; font-size: 17px; font-weight: 100;">new sku #</a></span>
            </td>
        </tr>
        <!-- table row for the Thank you message -->

    </table>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
  </body>
</html>
